<!doctype html>
<title>Floopy</title>
<!--<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/normalize.css"> -->
<!--<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<body>
    <nav class="navbar navbar-default" style="border-radius:0px">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="reset" href="">Reset</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
 <!--panel stuff is bootstrap-->
         <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">More Options</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
      
      
    <div class="row">
      





        <form id="kernel">
        <div class="col-md-4">
            <div class="form-group">
                <label for="range-area">Domain</label>
                <textarea name="range" class="form-control" id="range-area" rows="1">{ [i,j,k,l]: 0<=i,j<n  and 0<=k,l<m}</textarea>
              </div>
              </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="kernel-area">Instructions</label>
                <textarea name="kernel" class="form-control" id="kernel-area" rows="1">out[i,j] = sum(k,sum(l,a[i+k,j+l]*x[k,l]))</textarea>
              </div>
             </div>
              <!-- <label>Range <textarea name="range" value="{ [i]: 0<=i<n }"></label> -->
              <!-- <label>Kernel <input name="kernel" value="out[i] = 2*a[i]"></label> -->
              <!-- <input type="submit" value="Submit"> -->
        <div class="col-md-2">

            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="target-radios" id="exampleRadios1" value="opencl" checked>
                OpenCL
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="target-radios" id="exampleRadios2" value="cuda">
                CUDA
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="target-radios" id="exampleRadios3" value="c">
                C
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="target-radios" id="exampleRadios4" value="python">
                Python Source
              </label>
            </div>


             </div>
        <div class="col-md-1">
              <button type="submit" class="btn btn-primary">Submit</button>
             </div>
        </form>
    </div>

    <div class="row">
        <form id="arb_trans">
            <div class="col-md-11">
                <div class="form-group">
                    <label for="transf-area">Arbitrary Transformation</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">knl = </div>
                    <input name="arb_transf_name" class="form-control" id="transf-area" value="lp.rando_thing(knl,other_parameters)">
                    </div>
                </div>
             </div>
              <!-- <label>Range <textarea name="range" value="{ [i]: 0<=i<n }"></label> -->
              <!-- <label>Kernel <input name="kernel" value="out[i] = 2*a[i]"></label> -->
              <!-- <input type="submit" value="Submit"> -->
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

      </div>
    </div>
  </div>
</div> 


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                <span><span id="high_level"></span></span>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Output</div>
                <div class="panel-body">
            <span> <code><span id="code"></span></code></span>
                </div>
        </div>
    </div>

</div>
</div>
<!-- current location of the dots -->
<footer class="footer">
    <div class="container">
        <div class="row" style="padding-top: 10px;" id="FooterRow">
            <div class="col-sm-1">
            </div>
            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
            <div id="drawing" class="col-sm-10 text-center">

            </div>
            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js"></script>
  <script>
    function addSubmit(ev) {
      ev.preventDefault();
        jQuery.each( $(this).serializeArray() , function( i, field ) {
            sessionStorage.setItem(field.name,field.value);
        });
        //sessionStorage.setItem('transforms',JSON.stringify(["First",]));
        let tforms = sessionStorage.getItem('transforms');
        if (tforms) {
            tforms = JSON.parse(tforms);
        } else {
            tforms = [];
        }
        sessionStorage.setItem('transforms', JSON.stringify(tforms));
        let m_data = {};
        m_data['kernel'] = $('#kernel-area').val();
        m_data['range'] = $('#range-area').val();
        m_data['transforms'] = tforms;
        m_data['target'] = $("input[name='target-radios']:checked").val();
        console.log(m_data);

        sendData(m_data);
    }

    function sendData(m_data) {
        $.ajax({
        method: 'POST',
        url: {{ url_for('process_kernel_transforms')|tojson }},
          data: m_data,
      }).done(addShow);
    }

    function loadData() {
        let m_data = {};
        m_data['kernel'] = sessionStorage.getItem('kernel');
        m_data['range'] = sessionStorage.getItem('range');
        m_data['transforms'] = JSON.parse(sessionStorage.getItem('transforms'));
        return m_data;
    }

    function addTransform(class_of,which,op,what_change) {
        let m_data = loadData();
        m_data['transforms'].push([class_of ,which , op , what_change].join(':'));
        sessionStorage.setItem('transforms', JSON.stringify(m_data['transforms']));
        sendData(m_data);
    }

    function addArbitraryTransf(ev) {
      ev.preventDefault();
        let m_data = loadData();
        transf = $('#transf-area').val();
        addTransform('any', '', transf,'');
    }

    function removeTransform(index) {
        let m_data = loadData();
        m_data['transforms'].splice(index,1);
        sessionStorage.setItem('transforms', JSON.stringify(m_data['transforms']));
        sendData(m_data);
    }

    function reset() {
        sessionStorage.setItem('transforms', JSON.stringify([]));
    }
    $('#reset').on('click', reset);
    

    function addShow(data) {

        $.contextMenu( 'destroy' );
        sessionStorage.setItem('transforms',JSON.stringify(data.transforms));
      $('#code').text(data.code);
        $('#code').append("<p>Time To Execute: " + data.timing + "</p>");
        if (data.err) {

        }
        $("#high_level").text("");
        $("#high_level").append("<p>ARGUMENTS:</p>");

        iname_checkboxes = {}
        for (let iname of data.high_level2.p_tags) {
            iname_checkboxes["prefetch:" + iname[0]] = {
                            name: iname[0],
                            type: 'checkbox', 
                            selected: false
                        }
        }
        iname_checkboxes["sep2"] = "---------"
        iname_checkboxes["prefetch"] =  {name: "Do Operation (With Above Inames)", icon: "add"}

        for (let arg of data.high_level2.p_arguments) {
            $("#high_level").append("<div style='background-color: lightblue' id='arg_" + arg[0] + "'><p>" + arg[1] + "</p></div>");
            $.contextMenu(arg_menu_dict(arg,iname_checkboxes, arg[2]));
        }
        $("#high_level").append("<hr/><p>DOMAINS:</p>");
        for (let dom of data.high_level2.p_domains) {
            $("#high_level").append("<p> " + dom + "</p>");
        }
        $("#high_level").append("<hr/><p>INAME IMPLEMENTATION TAGS:</p>");
        for (let iname of data.high_level2.p_tags) {
            t_str = ": "
            if (iname[1].length == 0) {
                t_str = t_str + "None  "
            } else {
                for (let m_tag of iname[1]) {
                    t_str = t_str + m_tag + ", "
                }
            }
            $("#high_level").append("<div style='background-color: lightgreen' id='iname_" + iname[0] + "'><p>" + iname[0] + t_str + "</p></div>");
            $.contextMenu(iname_menu_dict(iname));
        }
        $("#high_level").append("<hr/><p>INSTRUCTIONS:</p>");
        i = 0;
        for (let inst of data.high_level2.p_instructions) {
            $("#high_level").append("<div id='inst_" + i + "'><p>" + inst + "</p>");
            i += 1;
        }

        if (data.high_level2.p_rules) {
        $("#high_level").append("<hr/><p>SUBSTITUTION RULES:</p>");
        i = 0;
        for (let rule of data.high_level2.p_rules) {
            console.log(rule)
            $("#high_level").append("<div style='background-color: lightsalmon' id='rule_" + rule[0] + "'><p>" + rule[1] + "</p>");
            $.contextMenu(rule_menu_dict(rule,iname_checkboxes));
            i += 1;
        }
        }




        $('#drawing').empty();
        draw = SVG('drawing').height(50); //<!--svg.js library to draw things-->
        i = 0;
 
        for (transf of data.transforms) {
            let split_transf = transf.split(':');

            var rect = draw.circle(20);  //acutally a circle
            console.log(split_transf);
            if (split_transf[0] == "iname" ) {
                rect.fill('#90EE90');
            } else if (split_transf[0] == "arg") {
                rect.fill('#ADD8E6');
            } else if (split_transf[0] == "rule") {
                rect.fill('#FFA07A');
            } else {
                rect.fill('#990909');
            }
            rect.x(i*40);  //set coords
            rect.y(20);
            rect.mousedown(callbackClosure(i, function(i) {
                removeTransform(i);
            }));  //had to make this closure thing to copy i correctly
            i += 1;
        }
        footerSize(); //resizes bottom region
    }

    //https://www.pluralsight.com/guides/javascript-callbacks-variable-scope-problem
    function callbackClosure(i, callback) {
        return function() {
            return callback(i);
        }
    }

    function arg_menu_dict(arg, iname_checkboxes, typ) {
        perf_dict = {}
        if (typ == "value") {
            perf_dict = {
                    "name": "Enable Performance Measurements", 
                    "items": {
                        "size": {
                        name: "Size", 
                        type: 'text', 
                        },
                        "perf": {name: "Set Size", icon: "add"},
                    },
                }

        }


        return {
            selector: '#arg_' + arg[0], 
            trigger: 'left',
            delay: 500,
            autoHide: false,
            callback:  function(itemKey, options){ 
                let arg_info = {};
                let inames_to_sweep = []
                $.contextMenu.getInputValues(options, arg_info);
                for (const [key, value] of Object.entries(arg_info)) {
                    if (value) {
                        inames_to_sweep.push(key.split(':')[1])
                    }
                }
                let res = itemKey.split(':');
                switch (res[0]) {
                    case "type":
                        addTransform('arg', arg[0], res[0],res[1]);
                        break;
                    case "prefetch":
                        addTransform('arg', arg[0], res[0],inames_to_sweep.join(":"));
                        break;
                    case "subst":
                        addTransform('arg', arg[0], res[0],[arg_info['name'],arg_info['subscript'], arg_info['params'] ].join(":"));
                        break;
                    case "split":
                        addTransform('arg', arg[0], res[0],[arg_info['axis_nr'],arg_info['count'] ].join(":"));
                        break;
                    case "perf":
                        addTransform('arg', arg[0], res[0],[arg_info['size'] ].join(":"));
                        break;
                } 
            },
            items: {
                "tag": {
                    "name": "Prefetch", 
                    "items": iname_checkboxes,
                },
                "subst": {
                    "name": "Create Subst Rule", 
                    "items": {
                        "name": {
                        name: "Rule Name", 
                        type: 'text', 
                        },
                        "subscript": {
                        name: "Subscript", 
                        type: 'text', 
                        },
                        "params": {
                        name: "Parameters", 
                        type: 'text', 
                        },
                        "subst": {name: "Create Rule", icon: "add"},
                    },
                },
                "split": {
                    "name": "Split Array Axis", 
                    "items": {
                        "axis_nr": {
                        name: "Axis Number", 
                        type: 'text', 
                        },
                        "count": {
                        name: "Count", 
                        type: 'text', 
                        },
                        "split": {name: "Split Array Axis", icon: "add"},
                    },
                },
                "perf": perf_dict,
                "type": {
                    "name": "Type",
                    "items": {
                        "type:f32": {"name": "f32"},
                        "type:f64": {"name": "f64"},
                        "type:i32": {"name": "i32"},
                    },

                },
                "sep1": "---------",
                "quit": {name: "Quit", icon: "context-menu-icon context-menu-icon-quit" }
            },

            }
    }


    function iname_menu_dict(iname) {
            return {
                 selector: '#iname_' + iname[0], 
            trigger: 'left',
            delay: 500,
            autoHide: false,
            callback:  function(itemKey, options){ 
                let iname_info = {};
                $.contextMenu.getInputValues(options, iname_info);
                switch (itemKey) {
                    case 'split':
                        addTransform('iname', iname[0], itemKey,[iname_info['size'],iname_info['pre_slab'], iname_info['post_slab']].join(':'));
                        break;
                    case 'prioritize':
                        addTransform('iname', iname[0], itemKey,iname_info['inames']);
                        break;
                    default:
                        let res = itemKey.split(':');
                        addTransform('iname', iname[0], res[0],res[1]);
                        break;
                } 
            },
            items: {
                "split-menu": {
                    "name": "Split Iname", 
                    "items": {
                        "pre_slab": {
                        name: "Head Slab Iteration Count", 
                        type: 'text', 
                        value: '0'
                        },
                        "post_slab": {
                        name: "Tail Slab Iteration Count", 
                        type: 'text', 
                        value: '0'
                        },
                        "size": {
                        name: "Inner Size", 
                        type: 'text', 
                        },
                        "split": {name: "Split Iname", icon: "add"},
                    },
                },
                "tag": {
                    "name": "Tag Iname", 
                    "items": {
                        "tag:l.0": {"name": "Local Dimension 0"},
                        "tag:l.1": {"name": "Local Dimension 1"},
                        "tag:l.2": {"name": "Local Dimension 2"},
                        "tag:g.0": {"name": "Global Dimension 0"},
                        "tag:g.1": {"name": "Global Dimension 1"},
                        "tag:g.2": {"name": "Global Dimension 2"},
                        "tag:unr": {"name": "Unroll"}
                    },
                },
                "prio-menu": {
                    "name": "Prioritize Loops", 
                    "items": {
                        "inames": {
                        name: "Inames", 
                        type: 'text', 
                        },
                        "prioritize": {name: "Prioritize", icon: "add"},
                    },
                },
                "sep1": "---------",
                "quit": {name: "Quit", icon: "context-menu-icon context-menu-icon-quit" }
            },

            }

    }

    function rule_menu_dict(rule, iname_checkboxes) {
        return {
            selector: '#rule_' + rule[0], 
            trigger: 'left',
            delay: 500,
            autoHide: false,
            callback:  function(itemKey, options){ 
                let arg_info = {};
                let inames_to_sweep = []
                $.contextMenu.getInputValues(options, arg_info);
                for (const [key, value] of Object.entries(arg_info)) {
                    if (value) {
                        inames_to_sweep.push(key.split(':')[1])
                    }
                }
                let res = itemKey.split(':');
                switch (res[0]) {
                    case "prefetch":
                        addTransform('rule', rule[0], 'precompute',inames_to_sweep.join(":"));
                        break;
                } 
            },
            items: {
                "tag": {
                    "name": "Precompute", 
                    "items": iname_checkboxes,
                },
                "sep1": "---------",
                "quit": {name: "Quit", icon: "context-menu-icon context-menu-icon-quit" }
            },

            }
    }


    $('#kernel').on('submit', addSubmit);
    $('#arb_trans').on('submit', addArbitraryTransf);




 </script> 
        <script>
        
	// $() is a shortening of jquery
          $(document).ready(footerSize)
          $(window).resize(footerSize)
                  
            function footerSize(){
        
           var footerHeight = $('footer').height();
           var rowHeight = $('#FooterRow').height();
           var extraHeight = 15;
        
            $('footer').css('height', rowHeight+extraHeight);
            $('body').css('margin-bottom', rowHeight+extraHeight);
          };
        </script>

</body>

