<!doctype html>
<title>Lopsy</title>
<!--<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/normalize.css"> -->
<!--<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css"> -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    <nav class="navbar navbar-default" style="border-radius:0px">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Reset</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
    <div class="row">
        <form id="kernel">
        <div class="col-md-5">
            <div class="form-group">
                <label for="range-area">Range</label>
                <textarea name="range" class="form-control" id="range-area" rows="3">{ [i]: 0<=i<n }</textarea>
              </div>
              </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="kernl-area">Kernel</label>
                <textarea name="kernel" class="form-control" id="kernel-area" rows="3">out[i] = 2*a[i]</textarea>
              </div>
              </div>
              <!-- <label>Range <textarea name="range" value="{ [i]: 0<=i<n }"></label> -->
              <!-- <label>Kernel <input name="kernel" value="out[i] = 2*a[i]"></label> -->
              <!-- <input type="submit" value="Submit"> -->
        <div class="col-md-2">
              <button type="submit" class="btn btn-primary">Submit</button>
        <span class="context-menu-one btn btn-neutral">right click me</span>
        </form>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Hover over htings</div>
                <div class="panel-body">
                <span><span id="high_level"></span></span>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Hover over htings</div>
                <div class="panel-body">
            <span> <code><span id="code">#define lid(N) ((int) get_local_id(N))
#define gid(N) ((int) get_group_id(N))

__kernel void __attribute__ ((reqd_work_group_size(1, 1, 1))) loopy_kernel(__global float const *__restrict__ a, int const n, __global float *__restrict__ out)
{
    for (int i = 0; i <= -1 + n; ++i)
    out[i] = 2.0f * a[i];
}</span></code></span>
                </div>
        </div>
    </div>

</div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script>
    function addSubmit(ev) {
      ev.preventDefault();
        jQuery.each( $(this).serializeArray() , function( i, field ) {
            sessionStorage.setItem(field.name,field.value);
        });
      $.ajax({
        method: 'POST',
        url: {{ url_for('add')|tojson }},
        data: $(this).serialize()
      }).done(addShow);
    }

    function addTransform(m_data) {
        m_data['kernel'] = sessionStorage.getItem('kernel');
        m_data['range'] = sessionStorage.getItem('range');
        m_data['transforms'] = sessionStorage.getItem('transforms');
      $.ajax({
        method: 'POST',
        url: {{ url_for('add')|tojson }},
          data: m_data,
      }).done(addShow);
        //$.post(url_for('transform')|tojson , {"data": JSON.stringify({blah: m_data},null, '\t')).done(addShow);
        //method: 'POST',
        //url: {{ url_for('transform')|tojson }},
          //data: JSON.stringify(m_data,null, '\t')
      //}).done(addShow);
    }

    function addShow(data) {
      $('#high_level').text(data.high_level);
      $('#code').text(data.code);
    }

    $('#kernel').on('submit', addSubmit);


$(function() {
        $.contextMenu({
             selector: '.context-menu-one', 
        trigger: 'hover',
        delay: 500,
        autoHide: true,
        callback: function(key, options) {
            addTransform({transform: "split"})
        },
        items: {
            "edit": {name: "Edit", icon: "edit"},
            "sep1": "---------",
            "quit": {name: "Quit", icon: function($element, key, item){ return 'context-menu-icon context-menu-icon-quit'; }}
        }
        });

        $('.context-menu-one').on('click', function(e){
            console.log('clicked', this);
        })    
    });

  </script>


